In [51]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
anime = pd.read_csv("datasets_571_1094_anime.csv")
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa,Supernatural,Movie,1,9.37,200630
1,24415,Kuroko no Basket 3rd Season,Sports,TV,25,8.62,184525
2,15335,Gintama Movie,Shounen,Movie,1,9.10,72534
3,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa,Sports,TV,10,9.15,93351
4,11061,Hunter x Hunter (2011),Shounen,TV,148,9.13,425855

In [52]:
anime.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [54]:
plt.figure()

In [ ]:
plot=sns.countplot(data=anime x="name", y="members")